- unless current_user == target_user
  - if following.new_record?
    = form_for following, html: { role: "form" } do |f|
      = f.hidden_field :to_id, value: target_user.id
      = f.submit "Follow", class: "btn btn-primary"
  - else
    = link_to "Unfollow", following_path(following.id), class: "btn btn-danger", method: :delete
    %br
