= form_for tweet, html: { role: "form" } do |f|
  .form-group
    = f.label :text, "New tweet", class: "sr-only"
    = f.text_field :text, class: "form-control", placeholder: "New tweet"
  = f.submit "Tweet", class: "btn btn-primary"
