.row
  .col-sm-4
    = render partial: "tweets/form", locals: { tweet: @tweet }
    = render partial: "users/list", locals: { title: "Active users", users: @active_users }
  .col-sm-8
    = render partial: "tweets/list", locals: { tweets: @tweets }
    = paginate @tweets
